# Xcode
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Build products
build/
*.o
*.a

# CocoaPods
Pods/
*.xcworkspace

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Thumbnails
Thumbs.db

# IDE
*.swp
*~
\#*\#

# Archives
*.xcarchive

# Provisioning profiles
*.mobileprovision
*.provisionprofile

# Playgrounds
timeline.xctimeline
playground.xcworkspace
